@model IEnumerable<Music_Store.BLL.DTO.MusicStyleDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-box2" style="width:600px; margin-left: 22%">
    <h3 class="wt">Стили</h3>
    <p>
        <a asp-action="Create" style="color: #f52f78;" class="createDialog" data_dialog_title="Create model">Добавить стиль</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label class="wt"> @Html.DisplayNameFor(model => model.Style)</label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <label class="wt"> @Html.DisplayFor(modelItem => item.Style)</label>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" style="color: #f52f78;margin-left:30px" class="editDialog" data_dialog_title="Edit model">Редактировать</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" style="color: #f52f78;" class="viewDialog" data_dialog_title="Delete model">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $(".createDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true,
                        buttons: {
                            "Сохранить": function () {
                                $.ajax({
                                    url: "@Url.Action("Create", "MusicStyles")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }
                    });
            });

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true
                    })
                    .load(this.href);
            });

            $(".editDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true,
                        buttons: {
                            "Сохранить": function () {
                                $.ajax({
                                    url: "@Url.Action("Edit", "MusicStyles")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }
                    });
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

