@model IEnumerable<Music_Store.BLL.DTO.MusicDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-8">
            <div class="login-box" style="width:100%; margin:30px;height:449px">
                <h3 class="wt" style="text-align:center"><u>@Html.DisplayFor(modelItem => item.Name)</u> (@Html.DisplayFor(modelItem => item.Year))</h3>
                <div style="margin:20px">
                    <video controls loop width="630">
                        <source src="@Url.Content(item.Video)" type="video/ogg">
                        <source src="@Url.Content(item.Video)" type="video/mp4">
                        <source src="@Url.Content(item.Video)" type="video/webm">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="login-box" style="width:100%; margin:30px; height:449px">
                <h5 class="wt" style="text-align:center; margin:20px">@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Year))</h5>
                <p> Исполнитель: @Html.DisplayFor(modelItem => item.Singer)</p>
                <p> @Html.DisplayNameFor(model => model.Album):  @Html.DisplayFor(modelItem => item.Album)</p>
                <p> Стиль: @Html.DisplayFor(modelItem => item.MusicStyle)</p>
                <p> Разместил: @Html.DisplayFor(modelItem => item.User)</p>
                <p> Дата публикации: @Html.DisplayFor(modelItem => item.VideoDate)</p>

                @if (Context.Session.GetString("login") == "admin")
                {
                    <div class="user-box" style="margin-top:158px">
                        <a asp-action="Edit" asp-route-id="@item.Id" style="color: #c21f5b;">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" style="color: #c21f5b;">Удалить</a>
                    </div>
                }
            </div>
        </div>
    </div>
}



